#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

#if ($persistence == "none")

  <!--
  ** no data source required
  -->

#else

  <!--
  ** jdbc data source, based on "db.properties" defined in a root module
  -->

  <bean class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
    <property name="locations">
      <list>
        <value>classpath:db.properties</value>
        <value>file:${symbol_dollar}{xillium.deployment.profile}/db.properties</value>
        <value>file:${symbol_dollar}{xillium.deployment.profile}/${deploy1name}.db.properties</value>
      </list>
    </property>
    <property name="ignoreResourceNotFound" value="true"/>
  </bean>

  <bean id="dataSource" class="org.apache.tomcat.jdbc.pool.DataSource" destroy-method="close">
    <property name="driverClassName" value="${symbol_dollar}{jdbc.driver}"/>
    <property name="url" value="${symbol_dollar}{jdbc.url}"/>
    <property name="username" value="${symbol_dollar}{jdbc.username}"/>
    <property name="password" value="${symbol_dollar}{jdbc.password}"/>
    <property name="initialSize" value="${symbol_dollar}{jdbc.min}"/>
    <property name="maxIdle" value="${symbol_dollar}{jdbc.max}"/>
    <property name="maxActive" value="${symbol_dollar}{jdbc.max}"/>
    <property name="testWhileIdle" value="true"/>
    <property name="validationQuery" value="${symbol_dollar}{jdbc.test}"/>
    <property name="timeBetweenEvictionRunsMillis" value="${symbol_dollar}{jdbc.idle}"/>
    <property name="connectionProperties" value="oracle.jdbc.J2EE13Compliant=true"/>
  </bean>

  <!--
  ** Spring jdbc transaction manager
  -->

  <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
    <property name="dataSource" ref="dataSource"/>
  </bean>

  <!--
  ** xillium Persistence object supporting SQL with named parameters
  -->

  <bean id="persistence" class="org.xillium.data.persistence.Persistence">
    <constructor-arg index="0"><ref bean="dataSource"/></constructor-arg>
    <property name="transactionManager" ref="transactionManager"/>
  </bean>

#end
</beans>
